.contact-section{
    padding: 1em 0 ;
    h2{
        padding: 1em 0;
    }
    input{
        height: 50px;
        padding: 0 25px;
        border-radius: 50px;
    }
    textarea{
        padding: 20px 25px;
        border-radius: 20px;
    }
    button{
        border-radius: 100px;
    }
    iframe{
        width:100%;
        height:450px;
    }
    
}