
.footer-section{
    padding: 4em 0 0 0 ;
    p{
        color: lightgrey;
    }
    ul{
        padding-right: 20px;
        li{
            margin-bottom: 12px;
        }
        a{
            color:$light
        }
    }
}
.social-section{
    padding-right: 0 !important;
    li{
        list-style-type: none;
        a{
            display: flex;
            align-items: center;
            width: 110px;
        }
        .icon{
            font-size: 2em;
            width: 1.5em;
            height: 1.5em;
            margin-left: .5em;
            color: black;
            background-color: $light;
            border-radius: 100%;
            padding: 8px;
        }
    }
    
}
.newsletter-section{
    input{
        height: 50px;
        padding: 0 25px;
        border-radius: 10px;
        max-width: 70%;
        @include respond-to(md){
            max-width: 100%;
        }
    }
    button{
        border-radius: 10px;
    }
}