.content_wrapper{
    text-align: center;
    padding: 1em .5em ;
    .icon{
        font-size: 5em;
        margin: .2em 0;
        color: $primary;
    }
}
#v-pills-tab{
    a{
        color: $light;
        border-radius: 0;
    }
    a.active{
        background-color: $dark;
        color:$light;
    }
}