#carouselExampleIndicators{
    @include respond-to(md){
        margin : 8em auto 0 auto;
    }
}
.slider-section{
    height: 100vh;
    padding: 5em 0 0 0 ;
    button{
        border-radius: 100px;
        border: 3px solid $light;
    }
    img{
        width: 70%;
        margin: auto auto 1em auto;
        @include respond-to(md){
            width: 100%;
        }
    }
    .image-slide{
        text-align:center;
    }
}